*{
    scroll-behavior:smooth;
    box-sizing:border-box;
}
body{
    margin:0;
    width:100%;
    height:100%;
    padding:2% 0%;
    position:absolute;
}
img{
    display: none;
    position:fixed;
    vertical-align:middle;
    height:85vh;
    width:auto;
    margin-left:10%;
    z-index=1;
}
#goku11{
    display:block;
}
#goku12{
	 margin-left:3vw;
}
#goku21{
	 margin-left:9%;
}
#goku22{
	 margin-left:8%;
	 margin-top:2%;
}
#goku3{
	 margin-top:-7vh;
	 margin-left:7%;
	 height:100vh;
}

#fireball{
    height:34vh;
    margin-top:13vh;
    margin-left:20vw;
}
#back{
    top:0;
	margin-left:0vw;
	display:block;
	position:fixed;
    object-fit: cover;
    opacity: 0.9;
    z-index:-10;
    width:100vw;
    height:auto;
}
}
#R,#L{
	margin:-8% 0 0 -6%;
	padding:0;
	filter: drop-shadow(20px 10px 30px black);
}
#L{
	filter: drop-shadow(-20px 10px 30px black);
}
footer{
    margin:87vh 10vw 0;
    padding:0% 2%;
    height:auto;
    position: sticky;
    display:flex;
}
#b1,#b2{
	background-color: transparent;
	padding:1%;
    flex:60%;
    text-align: center;
    border:none;
    text-shadow: 3px 4px 10px #ffffff;
    font-size:1rem;
}
#b2{
    flex:40%;
}
